@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,500,300italic,700&subset=latin,latin-ext);

<<<<<<< HEAD
.open_sans_font{
    font-family: "Open Sans" !important;
}

.arial_font{
    font-family: "Arial Regular, Arial" !important;
}

.orange_text{
    color: #FF9900;
}

/* centered columns styles */
=======
/* Common css */
#wrap, section{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.open_sans_condensedbold{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

h1, .h1{
    font-size: 48px;
}

h2, .h2{
    font-size: 40px;
}

h3, .h3{
    font-size: 32px;
}

h4, .h4{
    font-size: 23.5px;
}

h5, .h5{
    font-size: 20px;
}

h6, .h6{
    font-size: 17px;
}
/* Navbar font modification */

.navbar-static-top{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20pt;
}

.dropdown-menu > li > a{
    font-size: 14pt;
    font-weight: 600;
}

/* End of Navbar font modification */
/* End of Common css */
.color_orange{
    color: #F29000;
}

/* Centered columns styles */
>>>>>>> New sites - offers and regulations, new snippets
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

/* end of centered columns styles */

/* Main snippet */
.main_top_white_text{
    color: white;
    font-style: normal;
    margin-left: 7%;
    margin-top: 95px;
}

.main_top_white_text h1{
<<<<<<< HEAD
    font-size: 48px;
}

.main_top_white_text h3{
    font-size: 26px;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.main_top_white_text h2{
    font-size: 32px;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.main_top_photo_text{
    background: url('/bestja_frontend_fpbz/static/src/img/pan_z_talerzem.png') 
        no-repeat; min-height: 70%;
=======
    font-size: 36pt;
    font-weight: bold;
}

.differentiator_1{
    font-size: 46pt;
}

@media screen and (max-width: 991px) {
    .main_top_white_text{
        margin-top: 0;
    }

    .main_top_white_text h1, .choose_place{
        font-size: 26pt;
    }

    .differentiator_1{
        font-size: 36pt;
    }
}

@media screen and (max-width: 767px) {
    .main_top_white_text h1, .choose_place{
        font-size: 22pt;
    }

    .differentiator_1{
        font-size: 26pt;
    }
}

@media screen and (max-width: 480px) {
    .mouse_div{
        display: none;
    }

    .main_top_white_text h1, .choose_place{
        font-size: 20pt;
    }

    .differentiator_1{
        font-size: 22pt;
    }
}

.main_top_photo_text{
    background: url('http://placekitten.com/g/1920/1080') 
        no-repeat 50% 50%;
    background-size: auto auto;
>>>>>>> New sites - offers and regulations, new snippets
    position: relative;
    color: #FFFFFF;
}

.mouse_img{
    width: 89px;
    height: 90px;
    margin-left: 4px;
}

.choose_place{
    font-weight: bold;
    height: 55px;
    background-color: white;
    font-size: 22px;
}

.direction_down{
    display: inline-block;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    -o-transform: rotate(270deg);
    font-size: 36px;
    color: #000000;
    text-align: center;
}
/* End of main snippet */

/* Snippet: Why is it worth to do with us */
.why_is_it_worth h1{
    font-size: 40px;
}

.why_is_it_worth h3{
    font-size: 36px;
    margin-bottom: 20px;
}

.why_is_it_worth h4{
    font-size: 28px;
    margin-bottom: 20px;
}

.why_is_it_worth span{
    font-size: 48px;
}

.why_is_it_worth button{
    min-width: 290px;
    background-color: #EC8D17;
    color: #FFFFFF;
    font-size: 20px;
}
/* End of snippet: Why it is worth to do with us */

/* Snippet: Map with cities with places where we can help */
.map_of_poland_section h1{
    font-size: 40px;
}

.map_of_poland_section p{
    font-size: 12px;
}

ul.nav-map{
    position: relative;
    display: block;
    margin-left: 0;
    list-style: none;
    z-index: 2;
    text-transform: uppercase;
    overflow: hidden;
}

ul.nav-map li{
    position: absolute;
    list-style: none;
    z-index: 2;
}

ul.nav-map li a{
    width: auto;
    height: auto;
    color: #4a3c31;
    position: relative;
}

ul.nav-map li a .nav-map-point{
    width: 7px;
    height: 7px;
    background: #4a3c31;
    display: inline-block;
}

ul.nav-map li a .nav-map-point.nav-map-point-dot{
    border-radius: 50%;
}
<<<<<<< HEAD

ul.nav-map li a .nav-map-point.nav-map-point-triangle{
    width: 0;
    height: 0;
    background: 0;
    border-bottom: 7px solid #4a3c31;
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
}

ul.nav-map li a .nav-map-point-label{
    text-align: center;
    display: block;
    line-height: 1;
}

ul.nav-map li a.suwalki .nav-map-point-label,ul.nav-map li a.bialystok .nav-map-point-label{
    margin-right: 3px;
=======
.quote_div blockquote:before{
    content: "„";
    font-weight: 700; 
    font-style: normal; 
    font-size: 80pt;
    color: #F29000;
    line-height: 50px;
}

.quote_div blockquote:after{
    content: "”";
    font-weight: 700; 
    font-style: normal; 
    font-size: 80pt;
    color: #F29000;
    line-height: 50px;
>>>>>>> New sites - offers and regulations, new snippets
}

ul.nav-map li a.suwalki .nav-map-point-label,ul.nav-map li a.chojnice 
.nav-map-point-label,ul.nav-map li a.bialystok .nav-map-point-label, 
ul.nav-map li a.radom .nav-map-point-label,ul.nav-map li a.nowe-bielice .nav-map-point-label{
    float: left;
}

ul.nav-map li a.suwalki .nav-map-point-dot,ul.nav-map li a.chojnice 
.nav-map-point-dot,ul.nav-map li a.bialystok .nav-map-point-dot,
ul.nav-map li a.radom .nav-map-point-dot,ul.nav-map li a.nowe-bielice .nav-map-point-dot{
    float: right;
}

ul.nav-map li a.nowe-bielice .nav-map-point-label{
    width: 40px;
}

ul.nav-map li a.gorzow-wlkp .nav-map-point-label{
    width: 40px;
}

ul.nav-map li a.ruda-slaska .nav-map-point-label{
    width: 40px;
}

ul.nav-map li a.kielce .nav-map-point-label{
    display: inline;
}

ul.nav-map li a:hover{
    color: #f08d00;
}

ul.nav-map li a:hover .nav-map-point{
    background: #f08d00;
}

ul.nav-map li a:hover .nav-map-point.nav-map-point-triangle{
    background: 0;
    border-bottom: 7px solid #f08d00;
}

.map_of_poland{
    background: url('/bestja_frontend_fpbz/static/src/img/mapa_2.png') no-repeat;
    width: 440px;
    height: 402px;
    margin: 0 auto!important;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    z-index: 2;
    margin-bottom: 20px;
}

.text-right-only-desktop{
    text-align: right;
}

<<<<<<< HEAD
.text-left-only-desktop{
=======
/* Become partner top snippet */
.become_partner h2{
    font-size: 40pt;
}

@media screen and (max-width: 1400px) {
    .become_partner h2{
        font-size: 30pt;
    }
}

@media screen and (max-width: 767px) {
    .become_partner h2{
        font-size: 20pt;
    }
}

@media screen and (max-width: 480px) {
    .become_partner h2{
        font-size: 16pt;
    }
}

.become_partner_link a{
    padding-left: 15px;
    font-size: 26pt;
    text-decoration: none;
}
/* End of Become partner top snippet */

/* What partner receives snippet */
.what_partner_receives li, .advantages_of_application li{
    font-size: 26pt;
    list-style: none;
}

.what_partner_receives span, .advantages_of_application span{
    margin-right: 10px;
}
/* End of What partner receives snippet */

<<<<<<< HEAD
/* Footer */
.footer_logo_container{
>>>>>>> Site about becoming a partner and its blocks
    text-align: left;
}

@media screen and (max-width: 991px) {
    .text-right-only-desktop, .text-left-only-desktop{
        text-align: center;
    }
}

/* End of snippet: Map with cities with places where we can help */

/* Snippet: a big quote */
.quote_div blockquote p{
    font-size: 28px;
    font-style: italic;
}

.big_apostrophe{
    font-family: 'Arial Bold', Arial; 
    font-weight: 700; 
    font-style: normal; 
    font-size: 48px;
=======
/* Offers snippet */
.date_of_the_offer{
    background-color: #EEEEEE;
}

.content_of_the_offer{
    background-color: #EEC385;
}

.offer_where{
    text-align: right;
>>>>>>> New sites - offers and regulations, new snippets
}
/* End of snippet: a big quote */

<<<<<<< HEAD
/* Snippet: volunteers newsletter */
.volunteers_newsletter{
    
}
/* End of snippet: volunteers newsletter */


/* Snippet: volunteeres pictures */
.meet_our_volunteers button{
    min-width: 290px;
    background-color: #EC8D17;
    color: #FFFFFF;
    font-size: 20px;
=======
.offer_how_long, .offer_place{
    display: inline-block;
>>>>>>> New sites - offers and regulations, new snippets
}
/* End of snippet: volunteeres pictures */

<<<<<<< HEAD
/* Footer */
#footer_icons li{
    list-style: none;
    float: left;
    margin-left: 30px;
}

#footer_icons li a{
    background-image: url('/bestja_frontend_fpbz/static/src/img/stopka_ikonki.png');
    display: block;
}

#footer_icons li a.facebook{
    background-position: 0 0;
    width: 35px;
    height: 45px;
}

#footer_icons li a.youtube{
    background-position: -173px 0;
    width: 43px;
    height: 45px;
}

.footer_div{
    background-color: #000000;
    min-height: 100px;
    padding-top: 25px;
=======
.offer_place:before, .offer_how_long:before{
    float: left;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.offer_place:before{
    background: url('/bestja_frontend_fpbz/static/src/img/content/miejsce-01.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.offer_how_long:before{
    background: url('/bestja_frontend_fpbz/static/src/img/content/czas-01.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;

>>>>>>> New sites - offers and regulations, new snippets
}
/* End of Offers snippet */

/* Regulations site */
.regulations p{
    font-size: 30px;
    text-indent: 30px;
}

.regulations_nav{
    position: fixed;
}

<<<<<<< HEAD
.col-footer{
    width:33.3%;
    min-width: 290px;
    float: left;
}

.copyrights p{
    font-size: 12px;
    padding-right: 20px;
}

.white_footer_text{
    color: white;
}

.footer_div span{
    margin-left: 12px;
    margin-right: 12px;
}

@media screen and (max-width: 991px) {
    .col-footer {
        float: none !important;
        margin: 0 auto;
        padding-bottom: 20px;
        min-height: 70px;
    }

    .copyrights{
        text-align: center;
=======
.regulations_nav li{
    float: none;
}

@media screen and (max-width: 991px) {
    .regulations_nav{
        position: relative;
    }
    .regulations_nav li, .regulations_nav li + li{
        float: left;
        margin-top: 8px;
>>>>>>> New sites - offers and regulations, new snippets
    }

    .regulations_nav > li > a{
        display: inline-block;
    }

    #footer_icons{
        margin-left: 20px;
    }
}
<<<<<<< HEAD
/* End of footer */



=======
/* End of Regulations site */
>>>>>>> New sites - offers and regulations, new snippets
